.investment-info{

  .box {
    border: 1px solid #e6e3e3;
  }

  .small-font {
    font-size: 0.7rem;
  }

  .investment-title{
    font-size: 1.125rem;
    line-height: 1.444444rem;
    color: #3f3f3f;
    max-width: 22.5rem;
  }

}

