@import "mixins";

*:focus {
  outline: none !important;
}

/* SPACING */
.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.padding {
  padding: 1em;
}

.padding-half {
  padding: 0.5em;
}

.padding-bottom {
  padding-bottom: 1em;
}

.padding-bottom-double {
  padding-bottom: 2em;
}

.padding-bottom-half {
  padding-bottom: 0.5em;
}

.padding-bottom-quarter {
  padding-bottom: 0.25em;
}

.padding-right {
  padding-right: 1em;
}

.padding-right-half {
  padding-right: 0.5em;
}

.padding-right-double {
  padding-right: 2em;
}

.padding-right-quarter {
  padding-right: 0.25em;
}

.padding-left {
  padding-left: 1em;
}

.padding-left-half {
  padding-left: 0.5em;
}

.padding-left-double {
  padding-left: 2em;
}

.padding-left-quarter {
  padding-left: 0.25em;
}

.padding-top {
  padding-top: 1em;
}

.padding-top-half {
  padding-top: 0.5em;
}

.padding-top-double {
  padding-top: 2em;
}

.padding-top-quarter {
  padding-top: 0.25em;
}

.padding-double {
  padding: 2em;
}

.padding-quarter {
  padding: 0.25em;
}

.full-height {
  min-height: 100%;
  height: 100%;
}

.bold {
  font-weight: bold;
}

.white-bg {
  background-color: white;
}

.gray-bg {
  background-color: #EEF1F6;
}

//
//div.error {
//  margin-top: -0.95rem;
//  font-size: 0.9rem;
//  color: #a94442;
//}

// ng-show hide of expandable area animation
.expandable-animation.ng-hide {
  max-height: 0;
  @include transition(max-height 0.5s);
  overflow: hidden;
}

.expandable-animation {
  max-height: 350px;
  @include transition(max-height 0.5s);
  overflow: hidden;
}

.small-font {
  font-size: 0.7rem;
}

.no-scrolling {
  overflow: hidden;
}

.align-center {
  text-align: center;
}

.bg-success,
.bg-primary,
.bg-danger {
  margin: 0 0 15px;
  color: $white;
  border-radius: 3px;
  padding: 11px 15px;
  font-size: 13px;
  line-height: 18px;
  p {
    margin: 0;
  }
}

.bg-success {
  background: #88c057;
}

.bg-primary {
  background: #275675;
}

.bg-danger {
  background: #ed7161;
}

.btn {
  height: 50px;
  margin: 0 0 20px;
  border-radius: 4px;
  font-size: 15px;
  text-transform: uppercase;
  &.btn-success{
    background:#48a0dc;
    border: 1px solid #48a0dc;
    &.disabled{
      cursor:default;
      pointer-events:none;
      border: 1px solid #d3d3d3;
      background:#d3d3d3;
    }
  }
  &.btn-primary{
    background:#102431;
    border: 1px solid #102431;
    &.disabled{
      cursor:default;
      pointer-events:none;
      border: 1px solid #d3d3d3;
      background:#d3d3d3;
    }
  }
  &.btn-danger{
    background:#ed7161;
    border: 1px solid #ed7161;
    &.disabled{
      cursor:default;
      pointer-events:none;
      border-color:#d3d3d3;
      border: 1px solid #d3d3d3;
      background:#d3d3d3;
    }
  }
}

.btn-list {
  display:flex;
  margin: 0 -5px;
  li {
    display: inline-block;
    vertical-align: top;
    margin: 0 3px;
    .btn {
      margin: 0 0 15px;
    }
    .btn-danger,
    .btn-success {
      min-width: 260px;
    }
    .btn-primary {
      min-width: 150px;
    }
  }
}

.validate-form {
  .error {
    label + input,
    input:first-child {
      border-color: red !important;
    }
  }
}

body::after {
  content: "";
  background: url("../images/b_picture.jpg") white;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}


