/*
[todo - ran] once we will chnage to foundation-site-5 we need to adjust setting according to the below configuration and delete this file
*/

$tooltip-bg :#48a0dc;
$tooltip-font-color: white;
$tooltip-font-size:0.7rem;

