// Fonts
$sli-font-path: "../fonts/font-sli" !default;
$base-font-serif: 'Times New Roman', 'Times', 'Baskerville', 'Georgia', serif;
$base-font-sans-serif: 'Open Sans', 'Arial', 'Helvetica', sans-serif;

// Colors
$gray: #ccc;
$black: #3f3f3f;
$white: #fff;