.main{

}

.footer{
  /*
  background: url("http://cdn.agilitycms.com/polaroid/backgrounds/social-small.jpg") 50% 0% scroll;
  */
  /*
  margin-top: 340px;
  */
}

.img{
  max-width: 100%;
  height: auto;
}

body {
  display: block;
  position: relative;
}



.logo{
  max-width: 100%;
  height: auto;
}
.logoContainer{
  margin-top: 10px;
  margin-left: 5px;
}


.round {

  border-radius: 50%;

}

#mainRow{
  margin-top: 6em;
}

#mainP{
  margin-bottom: 0px;
}

#mainH{
  margin-top: 0px;
}

.spadding { padding: 0 0.1px 0 0.1px }

#buttonRow{
  margin-top: 23em;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }