<div class="accordion-item" ng-class="{'is-active': AccordionItem.isActive()}">

    <div class="accordion-title grid-block" ng-click="AccordionItem.isExpandable() && AccordionItem.expand()">
        <div class="grid-content noscroll">{{ AccordionItem.title }}</div>
        <div class="grid-content shrink edit">
            <img src="../../../assets/images/edit.svg"
                 ng-show="AccordionItem.isExpandable() && !AccordionItem.isActive()"/>
        </div>
    </div>

    <div class="accordion-content">
        <form novalidate name="form" class="grid-block vertical">

            <div class="grid-content">
                <span>I`m</span>
                <input name="amount" class="custom-input" ng-model-options="{ updateOn: 'blur' }"
                       ng-model="Accordion.$localStorage.wizardSelection.age" ng-change="Accordion.onChange()"
                       ng-min="10" ng-max="100" required style="width:8%"/>
                <span>years old</span>
                <span class="shrink info ">
                    <img src="../../../assets/images/Info.svg"
                         tooltip-placement="right"
                         tooltip-trigger="mouseenter"
                         tooltip-append-to-body="true"
                         tooltip={{AccordionItem.tooltip}}>
                </span>
            </div>
            <div class="padding-top-half padding-bottom grid-content">
                <span>I intend to liqudize this investment in</span>
                <input name="amount" class="custom-input" ng-model-options="{ updateOn: 'blur' }"
                       ng-model="Accordion.$localStorage.wizardSelection.TargetTime" ng-change="Accordion.onChange()"
                       ng-min="10" ng-max="20" required style="width:8%"/>
                <span>years</span>
                <span class="shrink info ">
                    <img src="../../../assets/images/Info.svg"
                         tooltip-placement="right"
                         tooltip-trigger="mouseenter"
                         tooltip-append-to-body="true"
                         tooltip={{AccordionItem.tooltip}}>
                </span>
            </div>

            <button class="button expand no-margin" ng-click="AccordionItem.expandNext()">Next Step <span
                    class="btn-arrow">></span>
            </button>
        </form>
    </div>

</div>