/* =================================================
   Modals
   ================================================= */
// When a modal is opened, it puts this class on `body` element.
// Prevents background from scrolling when a modal is opened.
.modal-open {
  overflow: hidden;
}

.reveal-modal-bg {
  background: #000;
  background: rgba(0, 0, 0, 0.45);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1004;
  left: 0;
}

@media only screen and (min-width: 40.0625em) {
  .reveal-modal {
    top: 6.25rem;
  }
}

@media only screen and (min-width: 40.0625em) {
  .reveal-modal {
    left: 0;
    margin: 0 auto;
    max-width: 62.5rem;
    right: 0;
    width: 80%;
  }
}

.reveal-modal {
  position: absolute;
  margin: 30px auto;
  z-index: 1005;
  min-height: 100px;
  padding: 25px 25px 6px;
  border-radius: 5px;
  overflow: hidden;
  width: 471px;
  max-width: 100%;
  background: #3b4453;
  color: $white;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
  form {
    fieldset {
      margin: 0;
      padding: 0;
      border-style: none;
      label {
        display: block;
        font-size: 17px;
        line-height: 24px;
        padding: 0 0 18px;
        color: $white;
      }
    }
  }
  p {
    a {
      opacity: 0.9;
      color: $white;
      transition: opacity 0.3s linear;
      &:hover {
        opacity: 1;
      }
    }
  }
  .header {
    text-align: center;
    margin: -25px -25px 19px;
    padding: 27px 20px 24px;
    background: #353d4b;
  }
  .title {
    color: $white;
    font-weight: 600;
  }
  .footer {
    padding: 17px;
    background: #102431;
    text-align: center;
    margin: 0 -25px -6px;
    p {
      margin: 0;
    }
  }
  .close {
    position: absolute;
    top: 7px;
    right: 13px;
    font-size: 16px;
    padding: 0;
    color: $white;
    line-height: 20px;
    &:before {
      display: none;
    }
    .close-modal:before {
      font: normal normal normal 11px/26px SimpleLine !important;
      content: "\eb0c";
      opacity: 0.9
    }
  }
  .row {
    position: relative;
    margin: 0 0 12px;
    background: $white;
    border-radius: 4px;
    &.style01 {
      padding: 0;
    }
    input {
      width: 100%;
      border-color: $white;
      height: 44px;
      outline: none;
      color: #505050;
      padding: 9px 10px 9px 50px;
      font-size: 15px;
      line-height: 24px;
      font-family: $base-font-sans-serif;
      border-radius: 4px;
      &.no-icon {
        padding: 9px 10px 9px 9px;
      }
    }
    &.error {
      border-color: #ed7261;
      input {
        color: #ed7261;
      }
      ::-webkit-input-placeholder {
        color: #ed7261;
      }
      :-moz-placeholder {
        color: #ed7261;
      }
      ::-moz-placeholder {
        color: #ed7261;
        opacity: 1;
      }
      :-ms-input-placeholder {
        color: #ed7261;
      }
    }
    &.disabled {
      border-color: #e5e5e5;
      cursor: default;
      pointer-events: none;
      input {
        color: #e5e5e5;
      }
    }
  }
  .icon {
    position: absolute;
    top: 13px;
    color: #4a5668;
    font: normal normal normal 24px/24px SimpleLine !important;
  }
  .show-password {
    right: 15px;
    .path1:before {
      content: "\eb27";
    }
  }
  .email {
    left: 13px;
    .path1:before {
      content: "\e86a";
    }
  }
  .lock {
    left: 13px;
    .path1:before {
      content: "\eb45";
    }
  }
  ::-webkit-input-placeholder {
    color: #505050;
  }
  :-moz-placeholder {
    color: #505050;
  }
  ::-moz-placeholder {
    color: #505050;
    opacity: 1;
  }
  :-ms-input-placeholder {
    color: #505050;
  }
}