<div ng-show="Loader.isLoading()"
     class="fancybox-overlay fancybox-overlay-fixed si-loader">

  <div class="fancybox-wrap fancybox-desktop fancybox-type-inline fancybox-opened"
       tabindex="-1">

    <div class="fancybox-skin">

      <div class="fancybox-outer radius">
        <div class="fancybox-inner">

          <div id="popup-loading"  alt="">
            <div ><img src="../../../assets/images/RoboX4Loading.png"  alt=""></div>
            <p translate="lblLoading" class="loadingLbl"></p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
