<div>
    <h2 class="title" translate="ttlLostPassword"></h2>

    <form name="LostPassword.lostPasswordForm"
          class="validate-form"
          ng-submit="LostPassword.sendEmail()"
          novalidate>
        <fieldset>
            <label translate="msgLostPassword"></label>

            <div class="bg-danger"
                 ng-if="LostPassword.errorMessage">
                <span>{{ LostPassword.errorMessage | translate }}</span>
            </div>

            <div class="row"
                 ng-class="{ 'error': !LostPassword.inputValidity }">

                <i class="icon email">
                    <span class="path1"></span>
                </i>

                <input name="email"
                       ng-model="LostPassword.email"
                       type="text"
                       placeholder="{{ 'lblpromptUserName' | translate }}"
                       ng-pattern="LostPassword.PATTERNS.email"
                       ng-focus="LostPassword.setAsValid()"
                       ng-blur="LostPassword.checkValidity()"
                       required
                       autofocus>
            </div>

            <ul class="btn-list">
                <li>
                    <button class="btn btn-success"
                            type="submit"
                            translate="btnSendResetMessgae">
                    </button>
                </li>

                <li>
                    <button class="btn btn-primary"
                            ng-click="LostPassword.dismissModal()"
                            translate="btnCancel">
                    </button>
                </li>

            </ul>

            <a href="" class="close"
               ng-click="LostPassword.dismissModal()">
                <i class="close-modal"></i>
            </a>

        </fieldset>
    </form>
</div>
