.reveal-modal {
  .login {
    .logo {
      a {
        padding-left: 44px;
        color: $white;
        font-size: 25px;
        font-weight: 600;
        line-height: 38px;
        background: url(../../assets/images/Icon_LogoWhite.svg) no-repeat 0 50%;
      }
    }
    .btn {
      height: 50px;
      width: 100%;
    }
  }
}