<div class="vertical grid-block slider">
    <div class="grid-block v-align padding-top-half">
        <div id="low" class="grid-block small-2 padding-top noscroll low shrink padding-right">LOW</div>
        <div class="grid-block small-8 padding-top-half noscroll ">
            <input type="range"
                   ng-change="vm.onChange()"
                   min="1" max="10"
                   value="0"
                   ng-model="vm.riskLevel"
            >
        </div>
        <div id="high" class="grid-block small-2  padding-top noscroll padding-left-half high">HIGH</div>
    </div>


    <div class="grid-block lable-container shrink padding-bottom-double">
        <div class="label">3 - Advised</div>
    </div>
</div>