<div>
    <h2 class="title" translate="ttlNewPassword"></h2>

    <form name="NewPassword.newPasswordForm"
          class="validate-form"
          ng-submit="NewPassword.changePassword()"
          novalidate>
        <fieldset>
            <label translate="msgNewPassword"></label>

            <div class="bg-danger"
                 ng-if="NewPassword.errorMessage">
                <span>{{ NewPassword.errorMessage | translate }}</span>
            </div>

            <div class="row"
                 ng-class="{ 'error': !NewPassword.inputValidity }">
                <i class="icon lock">
                    <span class="path1"></span>
                </i>
                <input name="newPassword"
                       ng-model="NewPassword.newPassword"
                       type="{{ NewPassword.passwordInputType }}"
                       placeholder="{{ 'lblpromptPassword' | translate }}"
                       ng-focus="NewPassword.setAsValid()"
                       ng-blur="NewPassword.checkValidity()"
                       ng-pattern="NewPassword.PATTERNS.password"
                       required
                       autofocus>
                <i class="icon show-password">
                    <span class="path1"
                          ng-mousedown="NewPassword.revealPassword()"
                          ng-mouseup="NewPassword.hidePassword()">
                    </span>
                </i>
            </div>

            <ul class="btn-list">
                <li>
                    <button class="btn btn-success"
                            type="submit"
                            translate="btnSavePassword">
                    </button>
                </li>

                <li>
                    <button class="btn btn-primary"
                            ng-click="NewPassword.dismissModal()"
                            translate="btnCancel">
                    </button>
                </li>

            </ul>

            <a href="" class="close"
               ng-click="NewPassword.dismissModal()">
                <i class="close-modal"></i>
            </a>

        </fieldset>
    </form>
</div>
